:root{
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;
  background-color: rgb(255, 197, 187);
}




* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

#root{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}